<div class="filter">
  <form [formGroup]="form">
    <div *ngIf="title" class="filter-title">{{title}}</div>
    <div class="filter-row">
      <label class="filter-label">
        <input
          formControlName="from"
          [type]="type === 'date' ? 'date' : 'number'"
          class="filter-input"
          (input)="submitValue()"
        />
      </label>
      <span class="filter-separator">-</span>
      <label class="filter-label">
        <input
          formControlName="to"
          [type]="type === 'date' ? 'date' : 'number'"
          class="filter-input"
          (input)="submitValue()"
        />
      </label>
    </div>
  </form>
  <button class="filter-clear" (click)="clear()">Очистить</button>
</div>
