<div class="add-student">
  <form [formGroup]="form">
    <label class="add-student-label form-label">
      <input class="form-input" type="text" formControlName="name" placeholder="Имя"/>
    </label>
    <label class="add-student-label form-label">
      <input class="form-input" type="text" formControlName="surname" placeholder="Фамилия"/>
    </label>
    <label class="add-student-label form-label">
      <input class="form-input" type="text" formControlName="studentPatronymic" placeholder="Отчество"/>
    </label>
    <label class="add-student-label form-label">
      <input class="form-input" type="date" formControlName="studentDateBirth" placeholder="Дата рождения"/>
    </label>
    <label class="add-student-label form-label">
      <input class="form-input" type="text" formControlName="studentAvgScore" placeholder="Средний балл"/>
    </label>
  </form>

  <button class="add-student-button button" (click)="add()">
    {{buttonText}}
  </button>
</div>
