<h2>Добавить студента</h2>

<div>
  <form [formGroup]="form">
    <label>
      <input type="text" formControlName="name" placeholder="Имя"/>
    </label>
    <label>
      <input type="text" formControlName="surname" placeholder="Фамилия"/>
    </label>
    <label>
      <input type="text" formControlName="studentPatronymic" placeholder="Отчество"/>
    </label>
    <label>
      <input type="date" formControlName="studentDateBirth" placeholder="Дата рождения"/>
    </label>
    <label>
      <input type="text" formControlName="studentAvgScore" placeholder="Средний балл"/>
    </label>
  </form>

  <button class="add-button" (click)="add()">
    {{buttonText}}
  </button>
</div>
