<div class="students">
  <div class="students-header">
    <div class="students-header-search">
      <input class="form-input" placeholder="Поиск" (input)="search($event)"/>
    </div>
    <div class="students-header-add">
      <button class="button" (click)="add()">Добавить студента</button>
    </div>
  </div>

  <div class="students-wrapper">
    <div class="students-wrapper-container">
      <table class="students-list">
        <tr class="students-list-row header">
          <td>Id</td>
          <td>ФИО</td>
          <td>Дата рождения</td>
          <td>Средний балл</td>
          <td></td>
        </tr>
        <tr *ngFor="let student of students" class="students-list-row" [class.checked]="student.checked">
          <td class="badge">
            {{student.id}}
          </td>
          <td class="students-list-name">
            {{student.surname}} {{student.name}}  {{student.patronymic}}
          </td>
          <td>
            {{student.dateBirth | date : 'MMM d, y'}}
          </td>
          <td>
            {{student.avgScore}}
          </td>
          <td class="students-list-buttons">
            <button class="button" (click)="edit(student)">Редактировать</button>
            <button class="button-close" title="delete student" (click)="deleteStudent = student">x</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="students-wrapper-filters">
      <app-filter></app-filter>
    </div>
  </div>
</div>
<app-popup *ngIf="popupVisible" [caption]="'Добавить студента'" (submit)="popupVisible = false">
  <app-add-student [student]="student" (submitted)="addOrUpdate($event)"></app-add-student>
</app-popup>
<app-popup *ngIf="deleteStudent" (submit)="delete($event)" [confirmText]="'Да'"
           [cancelText]="'Нет'">
  Удалить студента {{deleteStudent.surname}} {{deleteStudent.name}} ?
</app-popup>


