<div class="students">
  <div class="students-header">
    <h2 class="students-title">Мои студенты</h2>
    <div class="students-add">
      <button (click)="add()">Добавить студента</button>
    </div>
  </div>

  <div class="students-wrapper">
    <div class="students-wrapper-container">
      <table class="students-list">
        <tr *ngFor="let student of studentsList" class="students-list-row">
          <td class="badge">
            {{student.id}}
          </td>
          <td class="students-list-name">
            {{student.name}} {{student.surname}} {{student.patronymic}}
          </td>
          <td>
            {{student.dateBirth | date : 'MMM d, y'}}
          </td>
          <td>
            {{student.avgScore}}
          </td>
          <td class="students-list-buttons">
            <button class="edit" (click)="edit(student)">Редактировать</button>
            <button class="delete" title="delete student" (click)="deleteStudent = student">x</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="students-wrapper-filters">
      <app-filter
        [students]="students"
        (studentsChange)="this.studentsList = $event">
      </app-filter>
    </div>
  </div>
</div>
<app-popup *ngIf="popupVisible" [caption]="'Добавить'" (submit)="popupVisible = false">
  <app-add-student [student]="student" (submitted)="addOrUpdate($event)"></app-add-student>
</app-popup>
<app-popup *ngIf="deleteStudent" [caption]="'Удалить'" (submit)="delete($event)" [confirmText]="'Да'"
           [cancelText]="'Нет'"></app-popup>


