<div class="popup">
  <div class="popup-wrapper">
    <div class="popup-header">
      <div class="popup-caption">
        {{caption}}
      </div>
      <button class="button-close" (click)="submit.emit(false)">x</button>
    </div>
    <div class="popup-body">
      <ng-content></ng-content>
    </div>
    <div class="popup-footer" *ngIf="confirmText || cancelText">
      <button class="button" (click)="submit.emit(true)">{{confirmText}}</button>
      <button class="button" (click)="submit.emit(false)">{{cancelText}}</button>
    </div>
  </div>
</div>
